

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Got a great testing idea?</h1>
    <p class="lead">Let us know bout it</p>
  </div>
</header>



<div class="container">
  <h1 class="page-header">Add your idea for a test:</h1>
  <form role="form">
   <div class="form-group">
      <label>Your email, if we need more info *</label> 
      <input type="email" class="form-control" name="email" ng-model="emaili" required>
    </div>
    <div class="form-group">
      <label>Name of Your Test*</label>
      <input type="text" class="form-control" ng-model="testName" required>
    </div>
    <div class="form-group">
      <label>Site (Global? Us?)*</label>
      <input type="text" class="form-control" ng-model="site" required>
    </div>
    <div class="form-group">
      <label>Target URL(s) *</label> 
      <input type="text" class="form-control" ng-model="URLi" required>
    </div>
     
    <div class="form-group">
      <label>Hypothesis. What are we expecting...</label>
      <input type="text" class="form-control" ng-model="hypothesis">
    </div>
    <div class="form-group">
      <label>KPIs for analysis & results:</label>
      <input type="text" class="form-control" ng-model="KPIs">
    </div>
    <div class="form-group">
      <label>Description. Tell us more about your idea</label>
      <input type="text" class="form-control" ng-model="descriptioni">
    </div>
    <div class="form-group">
      <label>Add Image of Control (A)</label>
      <input type="text" class="form-control" ng-model="imageA">
    </div>
    <div class="form-group">
      <label>Add Image of Variant (B)</label>
      <input type="text" class="form-control" ng-model="imageB">
    </div>
    <div class="radiobutton">
      <label>Audience for your test</label>
      <input type="radio" ng-model="audience" value="All" > All visitors
      <input type="radio"  ng-model="audience" value="Mobile" > Mobile only
      <input type="radio" ng-model="audience" value="Browser"> Browsers only
    </div>
    <br>
      <button ng-click="addEvent()" class="btn btn-inverse">Submit</button>
  </form>
</div>


